@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap');
nav {
    
    font-size: 24px;
    border-bottom: 2px solid #4e697d;
    background-color:#3D4450 ;
   
}

.card{
    box-shadow: 20px 20px 60px #23262E,
        -20px -20px 60px #4e697d;
}
#Library{
    color: #4e697d !important;
    border-bottom: #4e697d solid 2px;
}


#pages{
    color: #4e697d !important;
    border-bottom: #4e697d solid 2px;
}
 #welcomeGif{
    width: 600px;
} 

.wallpaper{
    background-image: url("../images/black-ice.jpg");
    width: auto;
    padding: 5rem;
    
}

.active:hover{
    color:#23262E !important;
}

.tile{
border-left: #4e697d solid 2px;

}